<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>RoomReservation</display-name>

  <servlet>
    <servlet-name>GetRoomsServlet</servlet-name>
    <display-name>GetRoomsServlet</display-name>
    <description></description>
    <servlet-class>servlets.GetRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomsServlet</servlet-name>
    <url-pattern>/getAllRooms</url-pattern>
  </servlet-mapping>
</web-app>
